<nav-co></nav-co>
<area-co permission permission-only="'ADMIN'" nb-label="USER_NEW" nb-action="$ctrl.openUserModal()" edit="$ctrl.openUserModal(name)"
 delete="$ctrl.openDeleteModal(selected)" chks="$ctrl.selectedUsers" nb-type="USER" notification="$ctrl.notification"></area-co>
<user-list-co	ng-if="!$ctrl.waiting" permission permission-only="'ADMIN'"  users="$ctrl.users"
	edit="$ctrl.openUserModal(name)" chks="$ctrl.selectedUsers"></user-list-co>
<div ng-show="$ctrl.waiting" class="loading">
  <md-progress-circular ng-disabled='false' md-mode="indeterminate"></md-progress-circular>
</div>
