<div class="window-configurations relative">
  <div class="window__tit window__tit_blue window-configurations__tit">
    {{'CONFIGURATION'|translate}}
  </div>
  <ul permission permission-only="'OPERATOR'" class="confactions horizontal">
    <li>
      <ul class="horizontal addconf">
        <li class="confactions-addconf">
          {{'CONFIGURATION_ADD'|translate}}
        </li>
        <li class="confactions-selector">
          <form name="conForm">
            <select class="confactions-selector" ng-model="$ctrl.selected" ng-options="x.text|translate for x in $ctrl.conftype" required></select>
          </form>
        </li>
        <li class="confactions-addbutton" ng-click="conForm.$invalid||$ctrl.nbAction({confType: $ctrl.selected.value})" title="Add configuration">+</li>
      </ul>
    </li>
		<li>
      <ul class="horizontal
        controlarea-actions__list
        controlarea-actions__list_grey" ng-show="$ctrl.oneSelected()">
        <li>
          <div class="controlarea-actions__button controlarea-actions__edit" ng-click="$ctrl.edit({id: $ctrl.confChks[0]})">
            <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit configuration"></i>
          </div>
        </li>
        <li>
          <div class="controlarea-actions__button controlarea-actions__clear" ng-click="$ctrl.action = !$ctrl.action;">
            <i class="fa fa-eraser" aria-hidden="true" title="Delete configuration"></i>
          </div>
        </li>
        <li>
          <div class="controlarea-actions__button controlarea-actions__duplicate" ng-click="$ctrl.duplicateConfig({id: $ctrl.confChks[0]})">
            <i class="fa fa-clone" aria-hidden="true" title="Duplicate configuration"></i>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <div uib-collapse="$ctrl.action">
    <warning-co title="{{'DELETE'|translate}}"
    message="MESSAGE_SURE" type="window__tit_delete" confirm="$ctrl.delete({id: $ctrl.confChks[0]})"
    cancel="$ctrl.action = !$ctrl.action;"></warning-co>
  </div>
  <div class="stable stable_grey" ng-if="$ctrl.hasConfigurations()">
    <table class="conf-table">
      <thead>
        <tr>
          <td permission permission-only="'OPERATOR'"></td>
          <td ng-click="$ctrl.sort('idConfig')">{{'CONFIGURATION_ID'|translate}}
  					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='idConfig'"
  						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
          </td>
          <td ng-click="$ctrl.sort('nameConf')">{{'CONFIGURATION_NAME'|translate}}
  					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='nameConf'"
  						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
  				</td>
          <td ng-click="$ctrl.sort('origen')">{{'CONFIGURATION_ORIGIN'|translate}}
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='origen'"
              ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
          </td>
          <td ng-click="$ctrl.sort('destino')">{{'CONFIGURATION_DESTINATION'|translate}}
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='destino'"
              ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
          </td>
          <td ng-click="$ctrl.sort('formato')">{{'CONFIGURATION_FORMAT'|translate}}
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='formato'"
              ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
          </td>
          <td ng-click="$ctrl.sort('auduserConf')">{{'CONFIGURATION_MODIFIER'|translate}}
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='auduserConf'"
              ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
          </td>
          <td ng-click="$ctrl.sort('audateConf')">{{'CONFIGURATION_MODIFIED'|translate}}
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='audateConf'"
              ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
          </td>
        </tr>
      </thead>
      <tbody class="conf-table stable stable_grey">
        <tr ng-repeat="config in $ctrl.configurations | orderBy:$ctrl.sortKey:$ctrl.reverse" ng-class="{selected : config.idConfig === $ctrl.selectedRow}">
          <td permission permission-only="'OPERATOR'">
            <md-checkbox aria-label="Select config" checklist-model="$ctrl.confChks" checklist-value="config.idConfig" ng-click="$ctrl.addOrRemove(config)"/>
          </td>
          <td>{{config.idConfig}}</td>
          <td><a ng-click="$ctrl.editConfig({id: config.idConfig})">{{config.nameConf}}</a></td>
          <td>{{config.origen}}</td>
          <td>{{config.destino}}</td>
          <td>{{config.formato}}</td>
          <td>{{config.auduserConf}}</td>
          <td>{{config.audateConf}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
