<div ng-class="$ctrl.type">
  <div class="window__tit relative">
    {{$ctrl.title}}
    <div class="window__close
      window__close_red" ng-click="$ctrl.cancel()">
      X
    </div>
  </div>
  <div class="window__container">
    <div class="row window__text window__text_black">
      {{ $ctrl.message |translate}}
    </div>
    <div class="window-controls right">
      <ul class="horizontal window-controls__list">
        <li class="window-controls__button window-controls__button_grey"
					ng-click="$ctrl.confirm()">{{'CONFIRM'|translate}}</li>
        <li class="window-controls__button window-controls__button_grey"
					ng-click="$ctrl.cancel()">{{'CANCEL'|translate}}</li>
      </ul>
    </div>
  </div>
</div>
