<div class="panelinformation">
	<div class="panelinformation-breadcrumb">{{ 'CUSTOMER_LIST' | translate}}</div>
	<ul class="horizontal tableupcontrols flex-container flex-container__sbetween">
		<li class="panelinformation-entries flex-item">
			{{ 'SHOW' | translate}}
			<select class="panelinformation-entries__select greybox" ng-model="$ctrl.records.value" ng-options="v for v in $ctrl.records.values"></select>
			{{ 'REGISTER' | translate}}
		</li>
		<li class="panelinformation-search flex-item">
			<ul class="horizontal">
				<li>
					<input type="text" class="panelinformation-search__input" ng-model="search" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
				</li>
				<li>
					<div class="panelinformation-search-button">
						<i class="fa fa-search panelinformation-search-button__icon" aria-hidden="true"></i>
					</div>
				</li>
			</ul>
		</li>
		<li class="panelinformation-pagination flex-item">
			<dir-pagination-controls boundary-links="true" max-size="6"	direction-links="true"></dir-pagination-controls>
		</li>
	</ul>
</div>
<div class="panelinformation-table stable stable_grey">
	<table class="customers-table">
		<thead>
			<tr>
				<td></td>
				<td ng-click="$ctrl.sort('id')">{{'CUSTOMER'|translate}} ID
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='id'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
        </td>
				<td ng-click="$ctrl.sort('name')">{{'CUSTOMER'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='name'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('alias')">{{'ALIAS'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='alias'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('descripcion')">{{'DESCRIPTION'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='descripcion'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
			</tr>
		</thead>
		<tbody class="customers-table hover">
			<tr dir-paginate="customer in $ctrl.customers | orderBy:$ctrl.sortKey:$ctrl.reverse | filter:search| itemsPerPage: $ctrl.records.value" ng-class="{selected : customer.id === $ctrl.selectedRow}">
				<td>
					<md-checkbox aria-label="Select customer" checklist-model="$ctrl.chks" data-checklist-value="customer" ng-click="$ctrl.addOrRemove(customer)"/>
				</td>
				<td>{{customer.id}}</td>
				<td><a ng-click="$ctrl.editCustomer(customer.id)">{{customer.name}}</a></td>
				<td>{{customer.alias}}</td>
				<td>{{customer.descripcion}}</td>
			</tr>
		</tbody>
	</table>
</div>
