<div class="window" ng-hide="$ctrl.waiting">
  <div class="window__tit window__tit_blue">
    <!-- {{'EDIT_USER'|translate}} -->
    {{$ctrl.title|translate}}
    <div class="window__close window__close_red" ng-click="$ctrl.cancel()"> X </div>
  </div>
  <div class="window__container">
    <div class="whiteform">
    <form name="userForm">
      <div class="form-group">
        <label for="InputTextBirthName">{{'USER_BIRTH_NAME'|translate}}<span class="mandatory">*</span></label>
        <div class="errormsg" ng-show="userForm.birthName.$dirty && userForm.birthName.$invalid">
            <span ng-show="userForm.birthName.$error.required" translate='BIRTH_NAME_REQUIRED'></span>
          </div>
          <input type="text" class="form-control" id="InputTextBirthName" maxlength="80" name="birthName" ng-model="$ctrl.selectedUser.birthName" required
            ng-class="userForm.birthName.$invalid && userForm.birthName.$dirty ? 'errorform' : ''" placeholder="{{'USER_BIRTH_NAME'|translate}}"
            reg-ex-input reg-ex="^[a-zA-Z0-9]+$" />
      </div>
      <div class="form-group">
        <label for="InputTextLastName">{{'USER_LAST_NAME'|translate}}<span class="mandatory">*</span></label>
        <div class="errormsg" ng-show="userForm.lastName.$dirty && userForm.lastName.$invalid">
            <span ng-show="userForm.lastName.$error.required" translate='LAST_NAME_REQUIRED'></span>
          </div>
          <input type="text" class="form-control" id="InputTextLastName maxlength="80" name="lastName" ng-model="$ctrl.selectedUser.lastName" required
            ng-class="userForm.lastName.$invalid && userForm.lastName.$dirty ? 'errorform' : ''" placeholder="{{'USER_LAST_NAME'|translate}}"
            reg-ex-input reg-ex="^[a-zA-Z0-9]+$" />
      </div>
      <div class="form-group">
        <label for="InputTextName">{{'USER_NAME'|translate}}<span class="mandatory">*</span></label>
        <div class="errormsg" ng-show="userForm.name.$dirty && userForm.name.$invalid">
            <span ng-show="userForm.name.$error.required" translate='NAME_REQUIRED'></span>
          </div>
          <input type="text" class="form-control" id="InputTextName" maxlength="80" name="name" ng-model="$ctrl.selectedUser.name" required
            ng-class="userForm.name.$invalid && userForm.name.$dirty ? 'errorform' : ''" placeholder="{{'NAME'|translate}}"
            reg-ex-input reg-ex="^[a-zA-Z0-9]+$" />
      </div>
      <div class="form-group">
        <label for="InputTextEmail">{{'USER_MAIL'|translate}}<span class="mandatory">*</span></label>
        <div class="errormsg" ng-show="userForm.email.$dirty && userForm.email.$invalid || userForm.email.$error.email">
            <div ng-messages="userForm.email.$error" role="alert">
              <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                {{'USER_MAIL_REQUIRED'|translate}}
              </div>
            </div>
          </div>
        <input type="text" class="form-control" id="InputEmail" maxlength="80" name="email" ng-model="$ctrl.selectedUser.email" ng-pattern="/^.+@.+\..+$/" required
            ng-class="userForm.email.$invalid && userForm.email.$dirty ? 'errorform' : ''" placeholder="{{'USER_MAIL'|translate}}" />
      </div>
      <div class="form-group">
        <label for="SelectRol">{{'USER_ROLE'|translate}}<span class="mandatory">*</span></label>
        <div class="errormsg" ng-show="userForm.role.$dirty && userForm.role.$invalid">
            <span ng-show="userForm.role.$error.required" translate='USER_ROLE_REQUIRED'></span>
          </div>
          <select name="role" class="form-control" id="SelectRol" ng-model="$ctrl.selectedUser.role" ng-options="v for v in $ctrl.role.values" required></select>
      </div>
    </form>
    </div>
    <div class="window-controls">
      <ul class="horizontal window-controls__list">
        <li class="window-controls__button window-controls__button_grey"
          ng-click="userForm.$invalid || $ctrl.ok()" type="button">{{'SAVE'|translate}}</li>
        <li class="window-controls__button window-controls__button_grey"
          ng-click="$ctrl.cancel()">{{'CANCEL'|translate}}</li>
        <li class="window-controls__button window-controls__button_delete" ng-show="$ctrl.selectedUser.id"
          ng-click="$ctrl.warning = !$ctrl.warning;">{{'DELETE'|translate}}</li>
      </ul>
    </div>
    <br>
    <div uib-collapse="$ctrl.warning">
      <warning-co title="{{'DELETE_USER'|translate}} {{$ctrl.selectedUser.name}}" message="MESSAGE_SURE" type="window__tit_delete" confirm="$ctrl.delete()" cancel="$ctrl.warning = !$ctrl.warning;"></warning-co>
    </div>
  </div>
</div>
<div ng-show="$ctrl.waiting" class="loading">
  <md-progress-circular ng-disabled='false' md-mode="indeterminate"></md-progress-circular>
</div>