<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="menu__left">
        <ul class="horizontal">
          <li class="floatleft">
            <img class="menu__icon-santander" src="../../../assets/img/banco_santander.png" alt="banco-santander"></li>
          <li class="floatleft"><div class="menu__channeling">CHA</div></li>
          <li class="floatleft"><i class="fa fa-gg" aria-hidden="true"></i></li>
          <li class="floatleft"><div class="menu__channeling">ELING</div></li>
        </ul>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li permission permission-except="'ADMIN'" ng-class="$ctrl.navClass('customers')">
          <a ui-sref="customers"><i class="fa fa-briefcase" aria-hidden="true"></i>  {{'BUTTON_CUSTOMERS' | translate}}</a></li>
      <li permission permission-except="'ADMIN'" ng-class="$ctrl.navClass('filesMonitor')">
        <a ui-sref="filesMonitor"><i class="fa fa-binoculars" aria-hidden="true"></i> {{'BUTTON_MONITOR' | translate}}</a></li>
      <li permission permission-only="'ADMIN'" ng-class="$ctrl.navClass('users')">
        <a ui-sref="users"><i class="fa fa-user" aria-hidden="true"></i> {{'BUTTON_USERS' | translate}}</a></li>
      <li>
        <i class="fa fa-globe menu-user__icon menu-user__icon_grey" aria-hidden="true"></i>
        <ul class="menu-user">
          <li class="menu-user-accordion__element menu-user-accordion__element_grey" ng-click="$ctrl.changeLang('en')">{{'ENGLISH' | translate}}</li>
          <li class="menu-user-accordion__element menu-user-accordion__element_grey" ng-click="$ctrl.changeLang('es')">{{'SPANISH' | translate}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
