.nav li {
    border-left: 1px solid white;
}

.navbar {
    min-height: 39px;
}

.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
.navbar-default {
    font-size: 14px;
    background-color: #3E3E3E;
    margin-bottom: 0px;
    border-bottom-width: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    background-color: #3e3e3e;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: #5F99A9;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    cursor: default;
    color: white;
    background-color: rgba(22, 127, 146, 1);
}
.navbar-default .navbar-toggle {
    border-color: #167f92;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #167f92;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #167f92;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #030303;
}
.nav .fa-briefcase {
    padding-right: 4px;
    font-size: 13px;
}
.nav .fa-binoculars{
    padding-right: 3px;
    font-size: 13px;
}
.nav .fa-user{
    padding-right: 6px;
}
.navbar-header {
    display: inline-block;
}

/*MENU*/
.menu__left {color: white; margin-left: 16px; margin-top: 1px;}
.menu__left .fa-gg {font-size: 1.2em; margin-top: 11px; padding: 0px 2px;}
.menu__left li:nth-child(2) {margin-left: 14px;}
.menu__icon-santander {width: 1.5em; margin-top: 8px;}
.menu__channeling {font-size: 0.8em; font-family: Lato, Arial; margin-top: 12px;}

.icon-santander {width: 1.5em; margin-top: 11px;}

.menu__button {margin: 8px; padding: 7px 9px 7px 11px; border: 0px; border-radius: 5px;}
.menu__button_grey {background-color: #343436; border: 3px solid #343436;}

.menu__button:not(.selected):hover {background-color: grey; cursor: pointer; border: 3px solid grey;}
.menu__button i {margin-right: 6px;}
.menu__button.selected {background-color: #167F92; border: 3px solid #167F92;}


.menu-user {position: absolute; right: 0px; display: none;}
.menu-user > li {
  display: block;
  cursor: pointer;
}

li:hover .menu-user {
  display: block;
}

.menu-user-accordion {margin-top: 40px; z-index: 30; position: absolute; font-size: 14px; font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; right: -17px;}
.menu-user-accordion__element {padding: 15px 15px; cursor: pointer; border: 1px solid white;}
.menu-user-accordion__element:first-child {border-bottom: none;}
.menu-user-accordion__element_grey {background: #343436; color: white;}
.menu-user-accordion__element_grey:hover {background-color: #5F99A9;}
.menu-user-accordion__element_red {background-color: #ED1818; color: white;}
.menu-user-accordion__element_red:hover {background-color: #5F99A9;}

.menu-user__icon {padding: 11px 14px; font-size: 17px; cursor: pointer;}
.menu-user__icon_grey {color: white;}
.menu-user__icon_grey:hover {background-color: #5F99A9;}
.menu-user__icon_red {background-color: #ED1818; color: white;}
.menu-user__icon_red:hover {background-color: #5F99A9;}
