/*base*/
body, html {margin: 0px; background-color: #F3F3F3;}
ul {list-style:none; padding: 0px; margin: 0px;}
li {margin: 0px; padding:0px;}
li:focus {outline: 0px;}
input[type="checkbox"] {cursor: pointer;}
a {text-decoration: none}
form {margin-bottom: 0px;}
fieldset {-webkit-margin-start: 0px; -webkit-margin-end: 0px;}
.horizontal li {display: inline-block;}
.floatleft {float: left;}
.fright {float: right;}
.mandatory {color: red; margin-left: 3px;}
.bgrey {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(185,188,190,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(185,188,190,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(185,188,190,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(185,188,190,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(185,188,190,1) 100%);
	background: linear-gradient(to top bottom, rgba(255,255,255,1) 0%, rgba(185,188,190,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b9bcbe', GradientType=0 );
}
.relative {position: relative;}
.errorform {border: 1px solid red !important;}
.errormsg {color:red}
.colorRed {color: red; font-weight: bold;}

@font-face {
	font-family: Lato;
	src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}
@font-face {
	font-family: LatoRegular;
	src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}
.greybox {
    border-radius: 3px;
    border: 1px solid #8D8D8D;
    color: #333;
    cursor: pointer;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,220,221,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(219,220,221,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,220,221,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,220,221,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,220,221,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(219,220,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60656a', endColorstr='#42454a', GradientType=0 );
}
.greybox option {background-color: rgba(255,255,255,1); border: 0px;}
.greybox:hover {background-color: #5F99A9; /*(95,153,169)*/}

.focusrow {	position: absolute; left:-35px;	top:500px;}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-right: 20px solid black;
	border-bottom: 14px solid transparent;
}
.bluebutton {
	font-family: "Calibri";
	font-size: 12px;
	padding: 5px 15px;
    border-radius: 5px;
	color: white;
	cursor: pointer;
	background: rgba(49,179,234,1);
	background: -moz-linear-gradient(top, rgba(49,179,234,1) 0%, rgba(18,136,186,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,179,234,1)), color-stop(100%, rgba(18,136,186,1)));
	background: -webkit-linear-gradient(top, rgba(49,179,234,1) 0%, rgba(18,136,186,1) 100%);
	background: -o-linear-gradient(top, rgba(49,179,234,1) 0%, rgba(18,136,186,1) 100%);
	background: -ms-linear-gradient(top, rgba(49,179,234,1) 0%, rgba(18,136,186,1) 100%);
	background: linear-gradient(to bottom, rgba(49,179,234,1) 0%, rgba(18,136,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31b3ea', endColorstr='#1288ba', GradientType=0 );
}
.bluebutton:hover {
	background-color: #06b977;
	background: -moz-linear-gradient(top, rgba(18,136,186,1) 0%, rgba(49,179,234,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,136,186,1)), color-stop(100%, rgba(49,179,234,1)));
	background: -webkit-linear-gradient(top,  rgba(18,136,186,1) 0%, rgba(49,179,234,1) 100%);
	background: -o-linear-gradient(top,  rgba(18,136,186,1) 0%, rgba(49,179,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(18,136,186,1) 0%, rgba(49,179,234,1) 100%);
	background: linear-gradient(to bottom, rgba(18,136,186,1) 0%, rgba(49,179,234,1) 100%);
}
.globalwrapper {position: relative; margin-bottom: 40px;}

/*FLEX MODEL BOX*/
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.flex-container__sbetween {
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@import '../app/common/nav/nav.css';
@import '../app/common/control-area/control-area.css';
@import './panel.css';
@import './modal.css';
@import './block.css';
