/** Block Bootstrap*/
.whiteform .label {display: block; padding: 0px; text-align: left;}
.row {margin: 5px 0px;}
.whiteform .row.form-rename {overflow:hidden;}
md-switch {margin: 0px;}
md-checkbox:last-of-type {margin: 5px 0px;}
md-switch .md-container {cursor: pointer;}
md-switch.md-default-theme.md-checked.md-primary .md-thumb,
md-switch.md-checked.md-primary .md-thumb {
    background-color: #2ad759;
}
md-switch.md-default-theme.md-checked.md-primary .md-bar,
md-switch.md-checked.md-primary .md-bar {
    background-color: rgb(204, 204, 204);
}
.pagination {margin: 0px;}

@media (min-width: 768px) {
	.navbar-header {
    	float: none;
	}
	.container-fluid>.navbar-collapse,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container>.navbar-header {
		margin: 0px;
	}
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
	margin: 0px;
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
	border-color: rgb(153, 153, 153);
}