/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	min-width: 33%;
	width: auto;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body
.modal.right .modal-body {
	padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
	        transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
	left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
	        transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}
.modal-content {
	border-radius: 0;
	border: none;
	background-color: #f2f2f2;
}

/*WINDOW STYLES*/
.window {}
/*.window {position: absolute; right: 0px; bottom: 0px; min-height: 100px; min-width: 100px; padding: 15px; z-index: 20; height: calc(100% - 2em);}*/
/*.window_black {background-color: black;}*/
.window__tit {font-size: 18px; font-family: Calibri, Arial; font-weight: bold; padding: 8px 10px;}
.window__tit_blue {background-color: #167F92; color: white;}
.window__tit_white {background-color:transparent; border-bottom: 2px solid grey;}
.window__tit_delete {background-color: #990000; color: white; border: 1px solid #990000;}
.window__container .window__tit_delete .window__container {border: solid 1px #990000;}
.window__tit_warning {background-color: #FFFF66; color: white;}

.window__sub {font-size: 13px; font-family: LatoRegular, Arial; margin-bottom: 0px; font-weight: bold; padding: 8px 10px;}
.window__sub_orange {background-color: #0095b0; color: white;}

.window__container {background-color: #F2F2F2; padding: 18px; overflow: auto;}

.window__text {font-size:13px;  font-family: LatoRegular, Arial;}
.window__text_black {color: #333;}

.window-controls {min-height: 35px; margin-top: 14px; border-top: 2px #c2c2c2 dotted;}
.window-controls__list {color: #ffffff; text-align: right; padding: 18px;}
.window-controls__button {padding: 6px 19px; font-size: 16px; font-family: "Calibri"; border-radius: 25px; margin-left: 7px; cursor: pointer;}
.window-controls__button_grey {background-color: transparent; border: 2px solid #858585; color: #706a6a;}
.window-controls__button_grey:hover {background-color: #979797; border: 2px solid #858585; color: white;}
.window-controls__button_delete {border: 2px solid red; background-color: transparent; color: #706a6a;}
.window-controls__button_delete:hover {background-color: red; color: white;}

.window__tit_delete .window-controls__list {padding-right:0px;}

.window__close {position: absolute; top: 0px; right: 0px; padding: 1px 12px 2px 12px; cursor: pointer; font-size: 1.5em;}
.window__close_red {background-color: #313030; color: white;}
.window__close_red:hover {background-color: #D43710;}
.window__close_red {background-color: #D43710;}
.window__close_red:hover {background-color: #ff3300;}

.window__back {position: absolute; top: 0px; right: 0px; padding: 1px 8px 2px 10px; cursor: pointer; font-size: 1.5em;}
.window__back_grey {background: #313030; color: white;}
.window__back_grey:hover {background-color: grey;}

.window__inner {background-color: #f2f2f2;}

.window-configurations {margin-top:10px;}
.window-configurations .window-configurations__tit {margin-bottom:10px;}
.window-configurations .window__tit_delete {margin: 0px 18px 10px 58px;}

/* FORM STYLES*/
.whiteform {font-family: "Calibri";}
.whiteform .label, .whiteform legend {font-size: 13px; font-weight: bold; margin-bottom:5px; color: #515151;}
.whiteform .form-group label {font-size: 13px; font-weight: bold; margin-bottom:5px; color: #515151;}

.whiteform input[type=text] {min-height: 31px; border-radius: 3px; border: 1px solid #C2C2C2; margin-right: 10px; padding-left: 10px; color: #333; font-size: 13px; font-family: "Calibri";}
.whiteform input[type=text]:disabled {background: #CCC;}
.whiteform input::-ms-clear {display: none;}

.whiteform select {min-height: 31px; min-width: 180px; border: 1px solid #C2C2C2; border-radius: 3px; padding-left: 5px; color: #333; font-size: 13px; font-family: "Calibri";}

.whiteform.expanded .label {display: inline-block; margin-right: 25px;}
.whiteform.expanded input[type=text] {display: inline-block; margin-right: 0px; float: right; min-width: 180px;}

.whiteform.expanded select {float: right;}
.whiteform.expanded select:disabled {background: #CCC;}

.whiteform .row {width: 100%; margin-bottom: 10px;}
.whiteform .row.renamebox {width: calc(100% - 22px);}
.whiteform .row.right {float: right; width: auto;}

.form-security {margin-top: 16px;}
.form-security__field {border-radius: 5px; border: 1px solid #A8A8A8; padding: 8px; position: relative;}
.form-security__legend {padding: 0px 5px; position: absolute; top: -13px; background-color: #f2f2f2; padding: 0px 5px; left: -6px; font-size: 13px; font-weight: bold; color: #5e5e5e;}

.form-pgp__label {position: absolute; top: 4px; left: 20px; font-size: 13px; font-weight: bold; margin-bottom:5px; color: #515151;}
.form-pgp .pgpmain {margin-right: 30px;}
.form-pgp .row.right {width: 123px; float:none;}

.form-rename {margin-bottom: 4px;}
.form-rename__dedicated {margin-bottom: 15px;}
.form-rename .switch {margin-top: 1px;}

.renamebox {border: 1px solid #9e9c9c; border-radius: 5px; padding: 10px; margin-bottom: 15px;}
.renamebox select {min-width: 80px; width: 80px;}
.whiteform.expanded .renamebox input[type=text] {min-width: 80px; width: 80px;}
.whiteform.expanded .renamebox select {background: white;}
.renamebox-addfield {margin-top: 6px; width: 74px;}
.renamebox-header {margin-bottom: 5px;}
.renamebox-tit {font-family: "Calibri"; font-weight: bold; font-size: 13px; color: #333; margin: 0px 0px 2px 2px;}
.renamebox-header .renamebox-removecondition {position: absolute; top: 5px; right: 15px;}
.renamebox-removecondition {padding: 7px 8px; position: absolute; top: 2px; right: 29px; border-radius: 9px;}
.renamebox-removecondition .controlarea-actions__icon {width: 15px;}

.form-threeskey {margin-top: 1px;}

.form-pgp-options {border-radius: 5px; display: block; padding-left: 5px; margin-left: 5px;}
.form-pgp-options_grey {border: 1px solid #9e9c9c;}

.form-pgp-option {margin- bottom: 0px;}
.form-pgp-option__text {margin-top :5px; margin-right: 90px !important;}
.form-pgp-option__label {position: absolute; top: 4px; left: 20px;}
.form-pgp-options__cipher {margin-bottom: 7px;}

.whiteform.expanded .pgpkey {border: 1px solid #9e9c9c; border-radius: 5px; padding: 0px 10px; margin-top: 4px; overflow: auto;}
.whiteform.expanded .pgpkey input[type=text] {float: none; margin: 5px 0px;}

.standardoptions {border: 1px solid #9e9c9c; border-radius: 5px; padding-left: 5px; width: 177px; padding: 5px 13px 2px;}
.standardoptions li {margin-bottom: 0px;}
.standardoptions .label {position: absolute; top: 4px; left: 20px;}
.standardoptions input[type="checkbox"] {margin-top: 6px; margin-right: 30px;}

.switch {float: right; display: inline-block;}
.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px; }

.form-description .label {display: block;}
.form-description input[type=text] {display: block; float: none; width: 100%; min-height: 60px;}

.whiteform.vertical li {margin-bottom: 10px;}
.whiteform.vertical li input[type=text], .whiteform.vertical li select {width: 100%;}
.whiteform.expanded input {	float: none;}

/*CONFIGURATIONS*/
.manageconf {display: inline-block;}

.addconf {display: inline-block; min-height: 29px; border-radius: 3px; border: 1px solid #C2C2C2; background-color: #E4E4E4; width: 100%; margin-bottom: 10px;}
.addconf .horizontal {min-height: 39px;}

.window-configurations .confactions {margin-left: 58px;}

.confactions .controlarea-actions__list {padding: 11px 11px 11px 11px; margin-left: 11px; background: #0b4964; border: 0px;}

.confactions__left {float: left;}
.confactions__right {float: left; width: calc(100% - 146px); margin-left: 10px;}

.confactions-addconf {font-size: 13px; font-family: "Calibri"; margin-left: 10px; color: #333333;}

.confactions-addbutton {margin: 2px 5px 0px 0px; padding: 2px 9px 0px 9px; color: white; background-color: #0B4964; border-radius: 25px; font-size: 17px; cursor: pointer; border: 2px solid white;}
.confactions-addbutton:hover {background-color: #5F99A9;}

.confactions-selector {margin: 4px; border-radius: 5px; color: #333333;}
.confactions-selector select {min-height: 31px; border-radius: 3px; border: 1px solid #C2C2C2; cursor: pointer; background-color: #FFFFFF;  font-family: "Calibri"; font-size: 13px; padding: 0px 7px;}
.confactions-selector option {font-size: 13px; font-family: "Calibri";}

.block-conf {position:absolute; left:0px; top: 0px; width: 100%; height: 70px; background-color: #D7D7D7; opacity: 0.9;}
.block-conf-msg {margin-top: 25px; text-align: center; font-family: "Calibri";}

.scrollbar {margin-left: 30px; float: left; height: 300px; overflow-y: auto; margin-bottom: 25px;}
.scrollbar_black {background: black;}
.scrollbar_black::-webkit-scrollbar-track {	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: black;}
.scrollbar_black::-webkit-scrollbar { width: 10px; background-color: black;}
.scrollbar_black::-webkit-scrollbar-thumb {	border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555;}
.scrollbar_grey::-webkit-scrollbar-thumb {background-color: grey;}
.scrollbar_grey::-webkit-scrollbar {background-color: black;}

/*BLACK CHECKBOX*/
.blackcheckbox {width: 20px; position: relative; margin: auto; }
.blackcheckbox label {
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  /*background: linear-gradient(top, #222 0%, #45484d 100%);*/
  background: #60656a;
  background: -moz-linear-gradient(top, #60656a 0%, #42454a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #60656a), color-stop(100%, #42454a));
  background: -webkit-linear-gradient(top, #60656a 0%, #42454a 100%);
  background: -o-linear-gradient(top, #60656a 0%, #42454a 100%);
  background: -ms-linear-gradient(top, #60656a 0%, #42454a 100%);
  background: linear-gradient(to bottom, #60656a 0%, #42454a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60656a', endColorstr='#42454a', GradientType=0 );
  border-radius: 4px;
  border: 1px solid #363434;
  /*box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);*/
}
.blackcheckbox label:after {
  content: '';
  width: 7px;
  height: 3px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #48BBEC;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.blackcheckbox input[type=checkbox].squared { visibility: hidden;}
.blackcheckbox input[type=checkbox].squared:checked + label:after { opacity: 1;}

/* SWITCH */
.switch {  position: relative; display: inline-block; width: 43px; height: 22px; margin-right: 2px;}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #545454;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	top: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 3px;
	background: rgba(229,230,231,1);
	background: -moz-linear-gradient(top, rgba(229,230,231,1) 0%, rgba(185,188,189,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,230,231,1)), color-stop(100%, rgba(185,188,189,1)));
	background: -webkit-linear-gradient(top, rgba(229,230,231,1) 0%, rgba(185,188,189,1) 100%);
	background: -o-linear-gradient(top, rgba(229,230,231,1) 0%, rgba(185,188,189,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,230,231,1) 0%, rgba(185,188,189,1) 100%);
	background: linear-gradient(to bottom, rgba(229,230,231,1) 0%, rgba(185,188,189,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e6e7', endColorstr='#b9bcbd', GradientType=0 );
}
/* Rounded sliders */
.slider.round { border-radius: 34px;}

.slider.round:before { border-radius: 50%;}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bgRed {
   background-color: white;
}
