
/*PANEL INFORMATION*/
.panelinformation {width: -moz-calc(100% - 15px); width: -webkit-calc(100% - 15px); width: -o-calc(100% - 15px); width: calc(100% - 15px); margin: 12px 0px 5px 15px;}

.panelinformation-breadcrumb {color: #333; font-size: 16px; font-family: Lato, Arial; margin: 0px 0px 10px 15px;}

.panelinformation-entries {font-family: LatoRegular, Arial; color: #333; font-size: 12px; margin: 3px 0px 0px 15px;}
.panelinformation-entries__select {padding: 4px; margin: 0px 5px;}

.panelinformation-search {border: 1px solid #8D8D8D; border-radius: 5px;}
.panelinformation-search__input {background: none; width: 350px; height: 28px; position: relative; font-family: "Calibri"; color: #333; border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; border: 0px; border-right: 0px; padding-left: 10px;}
.panelinformation-search__input::-ms-clear {display: none;}

.panelinformation-search-button {border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px; border-left: 0px;}
.panelinformation-search-button__icon {color: #333; font-size: 13px; padding: 6px 12px 7px 9px;}
.panelinformation-search-button__icon:hover {cursor: pointer; color: #36bdf6;}

.panelinformation-pagination {font-size: 11px; color: white; font-family: LatoRegular, Arial; margin-right: 17px; }
.panelinformation-pagination__content {padding: 7px 10px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75); box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);}
.panelinformation-pagination__content:hover {background-color: grey; cursor: pointer; border-radius: 5px;}

.panelinformation-table { width: -moz-calc(100% - 27px); width: -webkit-calc(100% - 27px); width: -o-calc(100% - 27px); width: calc(100% - 27px); margin: 7px 27px 15px;}

.panelinformation.withoutchecks {margin-left: 25px; width: -moz-calc(100% - 25px); width: -webkit-calc(100% - 25px); width: -o-calc(100% - 25px); width: calc(100% - 25px);}
.panelinformation.withoutchecks .panelinformation-breadcrumb {margin-left: 0px;}
.panelinformation.withoutchecks .panelinformation-entries {margin-left: 0px;}

/*TABLE*/
.stable {margin-bottom: 15px;}
.stable table {width: -moz-calc(100% - 15px); width: -webkit-calc(100% - 15px); width: -o-calc(100% - 15px); width: calc(100% - 15px); border-collapse: collapse; text-align: center;}
.stable table  tr.selected td:first-child {background-color: transparent;}
.stable table  tr.selected td {background-color: #ffb8b8;}
.stable table td {padding:5px; font-family: "Calibri"; font-size: 13px;}
.stable table thead td {font-family: "Calibri"; font-size: 16px; font-weight: bold; min-height: 37px; padding: 7px 13px;}
.stable .glyphicon {font-size: 12px; padding-left: 3px;}
.stable .active_blue td {background-color: #6de9ff !important;}

.stable table.customers-table tr td a,
.stable table.users-table tr td a,
.stable table.conf-table tr td a {cursor: pointer;}

.stable_black table tr:nth-child(even) td {background-color: #EBEBEB;}
.stable_black table tr:nth-child(odd) td {background-color: #FFFFFF;}
.stable_black table thead td {background-color: #000000 !important; color: white;}
.stable_black table tr td:first-child {background-color: transparent !important; width: 30px;}
.stable_black table  tbody {color: #333333;}

.stable_grey table tr:nth-child(even) td {background-color: #EBEBEB;}
.stable_grey table tr:nth-child(odd) td {background-color: #FFFFFF;}
.stable_grey table thead td {background-color: #999999 !important; color: white;}
.stable_grey table thead td:hover {background-color: #5F99A9 !important;}
.stable_grey table tbody {color: #333333;}
.stable_grey table tr.selected td:first-child {background-color: transparent !important;}
.stable_grey table tr.selected td {background-color: #ffc7c7;}

.stable_grey table.customers-table tr td:first-child,
.stable_grey table.users-table tr td:first-child,
.stable_grey table.conf-table tr td:first-child {background-color: transparent !important; width: 30px;}
.stable_grey table.files-table { table-layout: fixed;}
.stable_grey table.files-table tr td {word-wrap:break-word;}


.stable table.conf-table {margin: 0px 18px; width: -moz-calc(100% - 36px); width: -webkit-calc(100% - 36px); width: -o-calc(100% - 36px); width: calc(100% - 36px);}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #333;
  background-color: #EBEBEC;
  border: 1px solid #8d8d8d;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #e2e4e6;
  background-color: #5F99A9;
  border-color: #8d8d8d;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  border-color: #8d8d8d;
  background-color: #167F92;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: #EBEBEC;
  border: 1px solid #8d8d8d;
  cursor: not-allowed;
}

md-checkbox.md-checked .md-icon {
 background-color: #60656a;
}
