<div class="window" ng-hide="$ctrl.waiting">
  <div class="window__tit window__tit_blue">
    {{$ctrl.title | translate}}
    <div class="window__close window__close_red" ng-click="$ctrl.cancel()">
    X </div>
  </div>
  <div class="window__container">
    <form name="clientForm">
      <ul class="horizontal whiteform">
        <li ng-show="$ctrl.selectedCustomer.id">
          <div class="label">{{'CUSTOMER_ID'|translate}}</div>
          <input type="text" ng-model="$ctrl.selectedCustomer.id" disabled/>
        </li>
        <li>
          <div class="label ">{{'NAME'|translate}}<span class="mandatory">*</span>
          </div>
          <div class="errormsg" ng-show="clientForm.name.$dirty && clientForm.name.$invalid">
            <span ng-show="clientForm.name.$error.required" translate='NAME_REQUIRED'></span>
          </div>
          <input type="text" maxlength="20" name="name" ng-model="$ctrl.selectedCustomer.name" required
          ng-class="clientForm.name.$invalid && clientForm.name.$dirty ? 'errorform' : ''"
          placeholder="{{'CUSTOMER'|translate}}" ng-disabled="$ctrl.isViewer()" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </li>
        <li>
          <div class="label">{{'ALIAS'|translate}}<span class="mandatory">*</span>
          </div>
          <div class="errormsg" ng-show="clientForm.alias.$dirty && clientForm.alias.$invalid">
            <span ng-show="clientForm.alias.$error.required" translate='ALIAS_REQUIRED'></span>
          </div>
          <input type="text" maxlength="20" name="alias" ng-model="$ctrl.selectedCustomer.alias"
          required ng-class="clientForm.alias.$invalid && clientForm.alias.$dirty ? 'errorform' : ''"
          placeholder="{{'ALIAS'|translate}}" ng-disabled="$ctrl.isViewer()" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </li>
        <li>
          <div class="label">{{'DESCRIPTION'|translate}}</div>
          <input type="text" maxlength="80" name="description" ng-model="$ctrl.selectedCustomer.descripcion"
          placeholder="{{'DESCRIPTION'|translate}}" ng-disabled="$ctrl.isViewer()"reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </li>
      </ul>
    </form>
  </div>
  <configuration-list-co ng-if="$ctrl.selectedCustomer.config" nb-label="CONFIGURATION_NEW"
    configurations="$ctrl.selectedCustomer.config" edit="$ctrl.edit(id)" duplicate-config="$ctrl.duplicateConfig(id)" delete-configuration="$ctrl.deleteConfiguration(id)"
    nb-action="$ctrl.newConfiguration(confType)" is-viewer="$ctrl.isViewer()" conf-chks="$ctrl.confChks"></configuration-list-co>
  <div class="window-controls">
    <ul class="horizontal window-controls__list">
      <li permission permission-only="'OPERATOR'" ng-click="clientForm.$invalid || $ctrl.okCustomer()" class="window-controls__button window-controls__button_grey">{{($ctrl.selectedCustomer.id ? 'SAVE': 'CREATE')|translate }}</li>
      <li ng-click="$ctrl.cancel()" class="window-controls__button window-controls__button_grey">{{($ctrl.selectedCustomer.id ? 'CLOSE': 'CANCEL')|translate}}</li>
      <any permission permission-only="'OPERATOR'">
        <li ng-show="$ctrl.selectedCustomer.id" ng-click="$ctrl.warning = !$ctrl.warning;"
          class="window-controls__button window-controls__button_delete">{{'DELETE'|translate}}
        </li>
      </any>
    </ul>
  </div>
  <br>
</div>
<div uib-collapse="$ctrl.warning">
  <warning-co title="{{'DELETE'|translate}} {{$ctrl.selectedCustomer.name}}"
  message="MESSAGE_SURE" type="window__tit_delete" confirm="$ctrl.delete()"
  cancel="$ctrl.warning = !$ctrl.warning;"></warning-co>
</div>
<div ng-show="$ctrl.waiting" class="loading">
  <md-progress-circular ng-disabled='false' md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="$ctrl.notification.show" uib-alert ng-class="'notification notification_'+ $ctrl.notification.type"
close="$ctrl.hideAlert()" dismiss-on-timeout="{{$ctrl.notification.time}}">{{$ctrl.notification.message|translate}}</div>
