<div class="window">
  <div class="window__tit window__tit_blue">
    {{'CONFIGURATION'|translate}}
    <div class="window__back window__back_grey" ng-click="$ctrl.cancelConfig()">
      <<
    </div>
  </div>
  <div class="window__sub window__sub_orange">
    {{$ctrl.typeConfig|translate}}
  </div>
  <div class="window__container">
    <div class="whiteform expanded">
      <form name="configForm">
        <div class="row">
          <div class="label">{{'CONFIGURATION_NAME'|translate}}<span class="mandatory">*</span></div>
          <input type="text" maxlength="20" name="name" ng-model="$ctrl.selectedConfig.nameConf" required
            ng-class="configForm.name.$invalid && configForm.name.$dirty ? 'errorform' : ''" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </div>
        <div class="row">
          <div class="label">Subalias<span class="mandatory">*</span></div>
          <input type="text" name="subalias" ng-model="$ctrl.selectedConfig.subalias" required
            maxlength="20" ng-class="configForm.subalias.$invalid && configForm.subalias.$dirty ? 'errorform' : ''" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </div>
        <div class="row">
          <div class="label">{{'ORIGIN'|translate}}<span class="mandatory">*</span></div>
          <input type="text" disabled="disabled" ng-model="$ctrl.selectedConfig.origen" required/>
        </div>
        <div class="row">
          <div class="label">{{'DESTINATION'|translate}}<span class="mandatory">*</span></div>
          <input type="hidden" name="destino" ng-model="$ctrl.selectedConfig.destino" required/>
          <div class="row right">
            <ul class="horizontal">
              <li>
                <div class="standardoptions">
                  <ul class="horizontal">
                    <ul class="relative">
                      <input type="checkbox" ng-model="$ctrl.destino1">
                      <div class="label">MFT External</div>
                    </ul>
                    <ul class="relative">
                      <input type="checkbox" ng-model="$ctrl.destino2">
                      <div class="label">IPLA</div>
                    </ul>
                    <ul class="relative">
                      <input type="checkbox" ng-model="$ctrl.destino3">
                      <div class="label">IPLA Camara</div>
                    </ul>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="label">{{'CONFIGURATION_FORMAT'|translate}}<span class="mandatory">*</span></div>
          <select name="role" ng-model="$ctrl.selectedConfig.formato" ng-options="v for v in $ctrl.formato2.values" required></select>
        </div>
        <div class="row form-rename">
          <div class="label">{{'RENAME'|translate}}</div>
          <label class="switch">
            <md-switch class="md-primary"  md-no-ink aria-label="Switch"
              ng-model="$ctrl.selectedConfig.renombrado.tipo" ng-true-value="'1'" ng-false-value="'0'"></md-switch>
          </label>
        </div>
        <div class="renamebox" ng-show="$ctrl.selectedConfig.renombrado.tipo === '1'">
          <div class="renamebox-header relative">
            <ul class="horizontal">
              <li>
                <div class="renamebox-tit">{{'PARAMETER'|translate}}</div>
                <select name="parameter" ng-change="$ctrl.validateSelect()" ng-model="$ctrl.element.parametro"
                  ng-options="item.value as item.name | translate for item in $ctrl.parameter2"></select>
              </li>
              <li>
                <div class="renamebox-tit">{{'VALUE'|translate}}</div>
                <input stop-ccp type="text" maxlength="80" ng-if= "$ctrl.texto" name= "texto" ng-model="$ctrl.element.valor" reg-ex-input reg-ex='^[^\\/:*"<>?|]+$'
                  ng-disabled="$ctrl.element.parametro === 'SECUENCIAL'">
                <select ng-if= "$ctrl.fecha" ng-model="$ctrl.element.valor" ng-options="v for v in $ctrl.typeDates"></select>
              </li>
              <li>
                <div class="renamebox-tit">{{'SEPARATOR'|translate}}</div>
                <select name="separator" ng-model="$ctrl.element.separador"
                  ng-options="item.value as item.name | translate for item in $ctrl.separator"></select>
              </li>
            </ul>
          </div>
          <div class="renamebox-header relative" ng-repeat ="val in $ctrl.selectedConfig.renombrado.value">
            <ul class="horizontal">
              <li><input type="text" value="{{'PARAM_'+val.parametro | translate }}" disabled="disabled"></li>
              <li><input type="text" value="{{val.valor}}" disabled="disabled"></li>
              <li><input type="text" value="{{val.separador}}" disabled="disabled"></li>
              <li>
                <div class="renamebox-removecondition bluebutton" ng-click="$ctrl.selectedConfig.renombrado.value.splice($index, 1)">
                  <img src="../../../../assets/img/bin.png" class="controlarea-actions__icon" alt="bin"/>
                </div>
              </li>
            </ul>
          </div>
          <div class="bluebutton renamebox-addfield" ng-click ="$ctrl.addField()">
            {{'ADD_FIELD' | translate}}
          </div>
        </div>
        <div class="row form-security">
          <div class="form-security__field">
            <div class="form-security__legend">{{'SECURITY'|translate}}</div>
            <div class="relative form-pgp">
              <input class="pgpmain" type="checkbox" ng-true-value="'1'"
                ng-false-value="'0'" ng-model = "$ctrl.selectedConfig.pgpx">
              <div class="label form-pgp__label horizontal">PGP</div>
              <div class="form-pgp-options form-pgp-options_grey form-pgp-options__cipher" ng-show="$ctrl.selectedConfig.pgpx === '1'">
                <ul class="horizontal">
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'"
                      ng-false-value="'0'" ng-model = "$ctrl.selectedConfig.pgp.tipoCifrado"/>
                    <div class="form-pgp-option__label label">{{'CIPHER'|translate}}</div>
                  </li>
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'"
                      ng-false-value="'0'" ng-model = "$ctrl.selectedConfig.pgp.tipoFirma"/>
                    <div class="form-pgp-option__label label">{{'SIGN'|translate}}</div>
                  </li>
                </ul>
              </div>
              <div class="row" ng-show="$ctrl.selectedConfig.pgp.tipoCifrado === '1' && $ctrl.selectedConfig.pgpx === '1'">
                <div class="pgpkey">
                  <div class="label">{{'VALUE_KEY'|translate}} <span class="mandatory">*</span></div>
                  <input type="text" maxlength="80" ng-model = "$ctrl.selectedConfig.pgp.key" reg-ex-input reg-ex="^[a-zA-Z0-9\_\.\-\$\#\&]+$">
                </div>
              </div>
              <div class="form-pgp-options form-pgp-options_grey form-pgp-options__cipher" ng-show="$ctrl.selectedConfig.pgpx === '1'">
                <ul class="horizontal">
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'" ng-false-value="'0'"
                      ng-model = "$ctrl.selectedConfig.pgp.textMode" ng-checked="$ctrl.selectedConfig.pgp.ascii === '0'" ng-change="$ctrl.changeTextMode()"/>
                    <div class="form-pgp-option__label label">{{'TEXT_MODE'|translate}}</div>
                  </li>
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'" ng-false-value="'0'"
                      ng-model = "$ctrl.selectedConfig.pgp.ascii" ng-checked="$ctrl.selectedConfig.pgp.textMode === '0'" ng-change="$ctrl.changeAscii()"/>
                    <div class="form-pgp-option__label label">{{'ASCII_ARMOR'|translate}}</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row form-description">
            <div class="label">{{'DESCRIPTION'|translate}}</div>
            <input type="text" ng-model="$ctrl.selectedConfig.descripcion" maxlength="20" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
          </div>
        </div>
      </form>
    </div>
    <div class="row form-security" ng-if="configForm.$invalid && $ctrl.errorFormConfig ||
    ($ctrl.selectedConfig.pgp.tipoCifrado === '0' && $ctrl.selectedConfig.pgp.tipoFirma === '0' && $ctrl.errorFormConfig) ||
    ($ctrl.selectedConfig.pgp.tipoCifrado === '1' && !$ctrl.selectedConfig.pgp.key && $ctrl.errorFormConfig) ||
    ($ctrl.typeConfig !== 'CB' && $ctrl.selectedConfig.renombrado.tipo === '1' && $ctrl.selectedConfig.renombrado.value.length === 0 && $ctrl.errorFormConfig)">
      <div class="form-security__field">
        <div class="colorRed">{{'ERRORS_VALIDATION'|translate}}</div>
        <div class= "window__text" ng-if="configForm.nameConf.$invalid || !$ctrl.selectedConfig.nameConf">
          <span translate='NAME_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="configForm.subalias.$invalid || !$ctrl.selectedConfig.subalias">
          <span translate='SUBALIAS_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="configForm.formato.$invalid || !$ctrl.selectedConfig.formato">
          <span translate='FORMAT_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="configForm.origen.$invalid || !$ctrl.selectedConfig.origen">
          <span translate='ORIGIN_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="!($ctrl.destino1 || $ctrl.destino2 || $ctrl.destino1)">
          <span translate='DESTINATION_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="$ctrl.typeConfig !== 'CB' && $ctrl.selectedConfig.renombrado.tipo === '1' && $ctrl.selectedConfig.renombrado.value.length === 0">
          <span translate='RENAME_EMPTY'></span>
        </div>
        <div class= "window__text" ng-if="$ctrl.selectedConfig.pgpx === '1' && $ctrl.selectedConfig.pgp.tipoCifrado === '0' && $ctrl.selectedConfig.pgp.tipoFirma === '0'">
          <span translate='PGP_INCORRECT'></span>
        </div>
        <div class= "window__text" ng-if="$ctrl.selectedConfig.pgp.tipoCifrado === '1' && !$ctrl.selectedConfig.pgp.key">
          <span translate='KEY_INCORRECT'></span>
        </div>
      </div>
    </div>
    </br>
    <div uib-collapse="$ctrl.action">
      <warning-co title="{{'DELETE'|translate}} {{$ctrl.selectedConfig.name}}"
        message="MESSAGE_SURE" type="window__tit_delete" confirm="$ctrl.deleteConfiguration()"
        cancel="$ctrl.action = !$ctrl.action;"></warning-co>
    </div>
  </div>
  <div class="window-controls">
    <ul class="horizontal window-controls__list">
      <li permission permission-only="'OPERATOR'" class="window-controls__button window-controls__button_grey" ng-click="$ctrl.okConfiguration()">{{'SAVE'|translate}} & {{'CLOSE'|translate}}</li>
      <li class="window-controls__button window-controls__button_grey" ng-click="$ctrl.cancelConfig()">{{'CANCEL'|translate}}</li>
      <li ng-show="$ctrl.selectedConfig.id" class="window-controls__button window-controls__button_delete" ng-click="$ctrl.action = !$ctrl.action;">{{'DELETE'|translate}}</li>
    </ul>
  </div>
</div>
