<div class="window">
  <div class="window__tit window__tit_blue">
    {{'CONFIGURATION'|translate}}
    <div class="window__back window__back_grey" ng-click="$ctrl.cancelConfig()">
      <<
    </div>
  </div>
  <div class="window__sub window__sub_orange">
    {{$ctrl.typeConfig|translate}}
  </div>
  <div class="window__container">
    <div class="whiteform expanded">
      <form name="configForm">
        <div class="row">
          <div class="label">{{'CONFIGURATION_NAME'|translate}}<span class="mandatory">*</span></div>
          <input type="text" maxlength="20" name="nameConf" ng-model="$ctrl.selectedConfig.nameConf" required
            ng-class="configForm.nameConf.$invalid && configForm.nameConf.$dirty ? 'errorform' : ''" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </div>
        <div class="row">
          <div class="label">Subalias<span class="mandatory">*</span></div>
          <input type="text" name="subalias" ng-model="$ctrl.selectedConfig.subalias" required
            maxlength="20" ng-class="configForm.subalias.$invalid && configForm.subalias.$dirty ? 'errorform' : ''" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </div>
        <div class="row">
          <div class="label">{{'ORIGIN'|translate}}<span class="mandatory">*</span></div>
          <select name="origen" ng-model="$ctrl.selectedConfig.origen" ng-options="v for v in $ctrl.origen0.values" required></select>
        </div>
        <div class="row">
          <div class="label">{{'DESTINATION'|translate}}<span class="mandatory">*</span></div>
          <input type="text" ng-model="$ctrl.selectedConfig.destino" disabled="disabled" required></input>
        </div>
        <div class="row">
          <div class="label">{{'CONFIGURATION_FORMAT'|translate}}<span class="mandatory">*</span></div>
          <select name="formato" name="format" ng-model="$ctrl.selectedConfig.formato" ng-options="v for v in $ctrl.formato0.values" required></select>
        </div>
        <div class="row form-rename">
          <div class="label">{{'RENAME'|translate}}</div>
          <label class="switch">
            <md-switch class="md-primary" md-no-ink aria-label="Switch"
              ng-model="$ctrl.selectedConfig.renombrado.tipo" ng-true-value="'1'" ng-false-value="'0'"></md-switch>
          </label>
        </div>
        <div class="row form-security" ng-show="$ctrl.selectedConfig.renombrado.tipo === '1'">
           <div class="form-security__field"> 
              <ul class="center">
                <input type="checkbox">
                <div class="label">Remove extension</div>
              </ul>
             </div>
             <div class="row form-description"></div>    
        </div>
        <div class="row form-security">
          <div class="form-security__field">
            <div class="form-security__legend">
              {{'SECURITY'|translate}}
            </div>
            <div class="row form-rename">
              <div class="label">
                3SKey
              </div>
              <label class="switch">
                <md-switch class="md-primary" md-no-ink aria-label="Switch" ng-model="$ctrl.selectedConfig.s3Key"
                  ng-true-value="'1'" ng-false-value="'0'">
                </md-switch>
              </label>
            </div>
            <div class="relative form-pgp">
              <input class="pgpmain" type="checkbox" ng-false-value="'0'" ng-true-value="'1'" ng-model = "$ctrl.selectedConfig.pgpx"/>
              <div class="label form-pgp__label horizontal">PGP</div>
              <div class="form-pgp-options form-pgp-options_grey form-pgp-options__cipher" ng-show="$ctrl.selectedConfig.pgpx === '1'">
                <ul class="horizontal">
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'"
                      ng-false-value="'0'" ng-model = "$ctrl.selectedConfig.pgp.tipoCifrado"/>
                    <div class="form-pgp-option__label label">{{'DECIPHER'|translate}}</div>
                  </li>
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'"
                      ng-false-value="'0'" ng-model = "$ctrl.selectedConfig.pgp.tipoFirma"/>
                    <div class="form-pgp-option__label label">{{'AUTHENTICATE'|translate}}</div>
                  </li>
                </ul>
              </div>
              <div class="row" ng-show="$ctrl.selectedConfig.pgp.tipoFirma === '1' && $ctrl.selectedConfig.pgpx === '1'">
                <div class="pgpkey">
                  <div class="label">{{'VALUE_KEY'|translate}} <span class="mandatory">*</span></div>
                  <input type="text" maxlength="80" ng-model = "$ctrl.selectedConfig.pgp.key" reg-ex-input reg-ex="^[a-zA-Z0-9\_\.\-\$\#\&]+$">
                </div>
              </div>
              <div class="form-pgp-options form-pgp-options_grey form-pgp-options__cipher" ng-show="$ctrl.selectedConfig.pgpx === '1'">
                <ul class="horizontal">
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'" ng-false-value="'0'"
                      ng-model = "$ctrl.selectedConfig.pgp.textMode" ng-checked="$ctrl.selectedConfig.pgp.ascii === '0'" ng-change="$ctrl.changeTextMode()"/>
                    <div class="form-pgp-option__label label">{{'TEXT_MODE'|translate}}</div>
                  </li>
                  <li class="relative form-pgp-option">
                    <input type="checkbox" class="form-pgp-option__text" ng-true-value="'1'" ng-false-value="'0'"
                      ng-model = "$ctrl.selectedConfig.pgp.ascii" ng-checked="$ctrl.selectedConfig.pgp.textMode === '0'" ng-change="$ctrl.changeAscii()"/>
                    <div class="form-pgp-option__label label">{{'ASCII_ARMOR'|translate}}</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-description">
          <div class="label">{{'DESCRIPTION'|translate}}</div>
          <input type="text" ng-maxlength="20" ng-model="$ctrl.selectedConfig.descripcion"reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
        </div>
      </form>
    </div>
    <div class="row form-security" ng-if="configForm.$invalid && $ctrl.errorFormConfig ||
    ($ctrl.selectedConfig.pgp.tipoCifrado === '0' && $ctrl.selectedConfig.pgp.tipoFirma === '0' && $ctrl.errorFormConfig) ||
    ($ctrl.selectedConfig.pgp.tipoFirma === '1' && !$ctrl.selectedConfig.pgp.key && $ctrl.errorFormConfig)">
      <div class="form-security__field">
        <div class="errormsg">{{'ERRORS_VALIDATION'|translate}}</div>
        <div class= "window__text" ng-if="configForm.nameConf.$invalid || !$ctrl.selectedConfig.nameConf">
          <span translate='NAME_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="configForm.subalias.$invalid || !$ctrl.selectedConfig.subalias">
          <span translate='SUBALIAS_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="configForm.formato.$invalid || !$ctrl.selectedConfig.formato">
          <span translate='FORMAT_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="configForm.origen.$invalid || !$ctrl.selectedConfig.origen">
          <span translate='ORIGIN_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="!$ctrl.selectedConfig.destino">
          <span translate='DESTINATION_REQUIRED'></span>
        </div>
        <div class= "window__text" ng-if="$ctrl.selectedConfig.pgpx === '1' && $ctrl.selectedConfig.pgp.tipoCifrado === '0' && $ctrl.selectedConfig.pgp.tipoFirma === '0'">
          <span translate='PGP_INCORRECT'></span>
        </div>
        <div class= "window__text" ng-if="$ctrl.selectedConfig.pgp.tipoFirma === '1' && !$ctrl.selectedConfig.pgp.key">
          <span translate='KEY_INCORRECT'></span>
        </div>
      </div>
    </div>
    </br>
    <div uib-collapse="$ctrl.action">
      <warning-co title="{{'DELETE'|translate}} {{$ctrl.selectedConfig.name}}"
        message="MESSAGE_SURE" type="window__tit_delete" confirm="$ctrl.deleteConfiguration()"
        cancel="$ctrl.action = !$ctrl.action;"></warning-co>
    </div>
  </div>
  <div class="window-controls">
    <ul class="horizontal window-controls__list">
      <li permission permission-only="'OPERATOR'" class="window-controls__button window-controls__button_grey" ng-click="$ctrl.okConfiguration()">{{'SAVE'|translate}} & {{'CLOSE'|translate}}</li>
      <li class="window-controls__button window-controls__button_grey" ng-click="$ctrl.cancelConfig()">{{'CANCEL'|translate}}</li>
      <li ng-show="$ctrl.selectedConfig.id" class="window-controls__button window-controls__button_delete" ng-click="$ctrl.action = !$ctrl.action;">{{'DELETE'|translate}}</li>
    </ul>
  </div>
</div>
