<div class="controlarea controlarea_red	relative">
  <div class="floatleft">
    <ul class="horizontal">
      <li
        permission
        permission-except="'VIEWER'"
        class="controlarea__new controlarea__new_white"
        ng-click="$ctrl.nbAction()">
          {{$ctrl.nbLabel | translate}}
      </li>
      <li class="controlarea-actions">
        <ul class="horizontal
          controlarea-actions__list
          controlarea-actions__list_white" ng-show="$ctrl.oneSelected()">
          <li class="relatedfield">
            {{$ctrl.nbType | translate }} {{$ctrl.selectedID()}}
          </li>
          <li ng-show="$ctrl.selectedID() && $ctrl.isCustomer()">
            <div
              class="controlarea-actions__button controlarea-actions__edit"
              ng-click="$ctrl.edit({id: $ctrl.selectedID()})">
                <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
            </div>
          </li>
          <li ng-show="$ctrl.selectedID() && !$ctrl.isCustomer()">
            <div
              class="controlarea-actions__button controlarea-actions__edit"
              ng-click="$ctrl.edit({name: $ctrl.selectedName()})">
                <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
            </div>
          </li>
          <li permission permission-except="'VIEWER'">
            <div
              ng-show="$ctrl.selectedID()"
              class="controlarea-actions__button controlarea-actions__clear"
              ng-click="$ctrl.delete({selected: $ctrl.chks[0]})">
                <i class="fa fa-eraser" aria-hidden="true" title="Delete"></i>
            </div>
          </li>
          <any permission permission-except="'VIEWER'">
            <li ng-show="$ctrl.selectedID() && $ctrl.isCustomer()">
              <div
                class="controlarea-actions__button controlarea-actions__duplicate"
                ng-click="$ctrl.duplicate({id: $ctrl.selectedID()})">
                  <i class="fa fa-clone" aria-hidden="true" title="Duplicate"></i>
              </div>
            </li>
          </any>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div
  ng-if="$ctrl.notification.show"
  uib-alert ng-class="'notification notification_'+ $ctrl.notification.type"
  close="$ctrl.hideAlert()"
  dismiss-on-timeout="{{$ctrl.notification.time}}">
    {{$ctrl.notification.message|translate}}
</div>
