.controlarea {min-height: 53px; width: 100%; overflow:auto; background-image: url("../../../assets/img/monolith.png"); background-position: right bottom;}
.controlarea_white {background-color: #F0F1F1;}
.controlarea_red {background-color: #ED1818;}
.controlarea-actions {margin-left: 10px;}
.controlarea-actions__list {display: inline-block; position: relative; font-size: 13px; font-family: "Calibri"; text-transform: uppercase; border-radius: 3px; padding: 5px 15px 5px 5px;}
.controlarea-actions__list_blue {color: white; background-color: #188699;}
.controlarea-actions__list_white {color: white; background-color: transparent;}
.controlarea-actions__list_grey {color: white; background-color: #E4E4E4; border: 1px solid #C2C2C2;}

.controlarea-actions__button i {border-radius: 25px; border: 2px solid white; cursor: pointer;}
.controlarea-actions__button i:hover {background-color: #5F99A9;}

.controlarea-actions__edit i {padding: 4px 3px 3px 6px; font-size: 13px;}
.controlarea-actions__clear i {margin-left: 2px; padding: 6px 5px 4px 5px; font-size: 11px;}
.controlarea-actions__duplicate i {margin-left: 3px; padding: 6px 6px 4px 6px; font-size: 11px;}

.controlarea .relatedfield {margin: 0px 10px;}

.controlarea__new {font-size: 13px; font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; padding: 4px 10px; margin: 12px 0px 0px 27px; text-transform: uppercase; border: 2px solid white; border-radius: 25px; cursor: pointer;}
.controlarea__new_white {color: white; background-color: transparent;}
.controlarea__new_white:hover {background-color: #5F99A9;}

.notification {position:absolute; font-family: Lato; font-size: 14px; right: 20px; border-radius: 3px; -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75); box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75); top: 57px;}
.notification_green {background-color: #3CBF0F; color: white;}
.notification_red {background-color: red; color: white;}

/*FILE MONITOR CONTROL AREA*/
.controlarea__filemonitor .whiteform .label {color: white;}
.controlarea__filemonitor .whiteform select {margin-right: 10px; min-height: 32px; background: white; cursor: pointer;}

.controlarea__filemonitor .searchform-search__button {padding: 7px 17px 6px; text-transform: uppercase; font-size: 12px;}
.controlarea__filemonitor .searchform-advanced {margin-right: 0px;}
.controlarea__filemonitor .searchform-advanced__button {padding: 5px 9px 6px;}

.controlarea__filemonitor .basicconditions {margin: 10px 10px 10px 28px;}
.controlarea__filemonitor .basicconditions .basicconditions__idate .fa-calendar {padding: 6px 8px 9px 9px; border-radius: 3px;}
.controlarea__filemonitor .advancedconditions {margin: 0px 0px 17px 28px;}
