<nav-co></nav-co>
<area-co permission permission-except="['ADMIN']" nb-label="CUSTOMER_NEW" nb-action="$ctrl.openCustomerModal()"
	edit="$ctrl.openCustomerModal(id)" delete="$ctrl.openDeleteModal(selected)"
	duplicate="$ctrl.openDuplicateModal(id)" notification="$ctrl.notification"
	chks="$ctrl.selectedCustomers" nb-type="CUSTOMER">
</area-co>
<customer-list-co	ng-if="!$ctrl.waiting" permission permission-except="['ADMIN']" customers="$ctrl.customers"
	edit="$ctrl.openCustomerModal(id)" nb-label="EDIT_CUSTOMER" chks="$ctrl.selectedCustomers">
</customer-list-co>
<div ng-show="$ctrl.waiting" class="loading">
	<md-progress-circular ng-disabled='false' md-mode="indeterminate"></md-progress-circular>
</div>
