<div class="panelinformation">
	<div class="panelinformation-breadcrumb">{{ 'USER_LIST' | translate}}</div>
	<ul class="horizontal tableupcontrols flex-container flex-container__sbetween">
		<li class="panelinformation-entries flex-item">
			{{ 'SHOW' | translate}}
			<select class="panelinformation-entries__select greybox" ng-model="$ctrl.records.value" ng-options="v for v in $ctrl.records.values"></select>
			{{ 'REGISTER' | translate}}
		</li>
		<li class="panelinformation-search flex-item">
			<ul class="horizontal">
				<li>
					<input type="text" class="panelinformation-search__input" ng-model="search" reg-ex-input reg-ex="^[a-zA-Z0-9]+$"/>
				</li>
				<li>
					<div class="panelinformation-search-button">
						<i class="fa fa-search panelinformation-search-button__icon" aria-hidden="true"></i>
					</div>
				</li>
			</ul>
		</li>
		<li class="panelinformation-pagination flex-item">
			<dir-pagination-controls boundary-links="true" max-size="6"	direction-links="true"></dir-pagination-controls>
		</li>
	</ul>
</div>
<div class="panelinformation-table stable stable_grey">
	<table class="users-table">
		<thead>
			<tr>
				<td></td>
				<td ng-click="$ctrl.sort('id')">{{'USER_ID'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='id'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
	      </td>
				<td ng-click="$ctrl.sort('name')">{{'USER_NAME'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='name'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('role')">{{'USER_ROLE'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='role'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('email')">{{'USER_MAIL'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='email'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('birthName')">{{'USER_BIRTH_NAME'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='birthName'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('lastName')">{{'USER_LAST_NAME'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='lastName'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('creationDate')">{{'USER_CREATION_DATE'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='creationDate'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
				<td ng-click="$ctrl.sort('lastLoginDate')">{{'USER_LAST_LOGIN_DATE'|translate}}
					<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='lastLoginDate'"
						ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
				</td>
			</tr>
		</thead>
		<tbody class="users-table hover">
			<tr dir-paginate="user in $ctrl.users | orderBy:$ctrl.sortKey:$ctrl.reverse | filter:search |  itemsPerPage: $ctrl.records.value" ng-class="{selected : user.id === $ctrl.selectedRow}">
				<td>
					<md-checkbox aria-label="Select user" checklist-model="$ctrl.chks" data-checklist-value="user" ng-click="$ctrl.addOrRemove(user)"/>
				</td>
				<td>{{user.id}}</td>
				<td><a ng-click="$ctrl.editUser(user.name)">{{user.name}}</a></td>
				<td>{{user.role}}</td>
				<td>{{user.email}}</td>
				<td>{{user.birthName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.creationDate}}</td>
				<td>{{user.lastLoginDate}}</td>
			</tr>
		</tbody>
	</table>
</div>
