<nav-co></nav-co>
<div class="controlarea controlarea_red relative">
	<div class="floatleft controlarea__filemonitor">
		<ul class="horizontal whiteform basicconditions">
			<li>
				<div class="label" translate='CUSTOMER'></div>
				<input type="text" value="" ng-model= "$ctrl.file.cliente" name ="customer">
			</li>
			<li class="basicconditions__idate">
				<div class="label" translate='DATE_INI'></div>
          		<span ng-click="$ctrl.displayInitDate()">
					<i class="fa fa-calendar greybox" aria-hidden="true"></i>
				</span>
				<input
					mdc-datetime-picker=""
					date="true"
					time="true"
					type="text"
					ng-change=$ctrl.calcDatesEnd()
					show-todays-date=""
					minutes="true"
					min-date="$ctrl.minDate"
					max-date="$ctrl.maxDate"
					ng-model="$ctrl.myDate"
					edit-input="true"
					class=" md-input"
				/>
			</li>
			<li class="basicconditions__idate">
				<div class="label" translate='DATE_END'></div>
          		<span ng-click="$ctrl.displayEndDate()">
          			<i class="fa fa-calendar greybox" aria-hidden="true"></i>
          		</span>
				<input
					mdc-datetime-picker=""
					date="true"
					time="true"
					type="text"
					show-todays-date=""
					minutes="true"
					min-date="$ctrl.minDateEnd"
					max-date="$ctrl.maxDateEnd"
					ng-model="$ctrl.myDateEnd"
					edit-input="true"
					class=" md-input"
				/>
				<div class="errormsg" ng-show="$ctrl.dateRangeError">
					 <span>{{INCORRECT_RANGE | translate}}</span>
				 </div>
			</li>
			<li>
				<div class="label" translate='TYPE'></div>
				 <select name ="type" ng-model= "$ctrl.selectedType"
				 	ng-change="$ctrl.updateFormatStatus()" ng-options="type.name|translate for type in $ctrl.typestate">
			 	</select>
			</li>
			<li>
				<div class="label" translate='FILENAME'></div>
				<input type="text" value="" ng-model= "$ctrl.file.nombreOriginal" name ="filename">
			</li>
			<li class="searchform-search">
				<div
					class="bluebutton searchform-search__button"
					ng-click="$ctrl.search()"
				>
					{{'SEARCH'| translate}}
				</div>
			</li>
			<li class="searchform-advanced">
				<div
					class="bluebutton searchform-advanced__button"
					ng-click="$ctrl.showMe()"
				>
					<i class="fa fa-expand" aria-hidden="true" title="{{'ADVANCED'| translate}}"></i>
				</div>
			</li>
		</ul>
		<ul class="horizontal whiteform advancedconditions"  ng-show="$ctrl.previewMode">
			<li>
				<div class="label" translate='FILE_RENAMED'></div>
				<input type="text" value="" ng-model= "$ctrl.file.renombrado">
			</li>
			<li>
				<div class="label" translate='FILE_ID'></div>
				<input type="text" value="" ng-model= "$ctrl.file.id">
			</li>
			<li>
				<div class="label" translate='FORMAT'></div>
				<select type="format" ng-model= "$ctrl.selectedFormat"
					ng-options="format.name|translate for format in $ctrl.selectedType.format|orderBy:'name'">
				</select>
			</li>
			<li>
				<div class="label" translate='STATUS'></div>
				 <select name ="state" ng-model= "$ctrl.selectedStatus"
					 ng-options="state.name|translate for state in $ctrl.selectedType.state"
					  ng-class="{'bgRed': state.ko}">
			 	</select>
			</li>
		</ul>
	</div>
</div>
<div class="row form-security" ng-if="$ctrl.dateRangeError">
	<div class="form-security__field">
		<div class="errormsg">{{'INCORRECT_RANGE'|translate}}</div>
  </div>
</div>
<!-- /CONTROL AREA -->
<!-- PANEL INFORMATION -->
<div ng-show="$ctrl.waiting" class="loading">
  <md-progress-circular ng-disabled='false' md-mode="indeterminate"></md-progress-circular>
</div>
<div class="panelinformation" ng-show="!$ctrl.waiting">
	<div class="panelinformation-breadcrumb">{{'SEARCH_FILE'|translate}}</div>
	<div ng-show="$ctrl.files.length >0">
		<ul class="horizontal tableupcontrols flex-container flex-container__sbetween">
			<li class="panelinformation-entries flex-item">
				{{ 'SHOW' | translate}}
				<select class="greybox panelinformation-entries__select" ng-model="$ctrl.opt.value" ng-options="v for v in $ctrl.opt.values"></select>
				{{ 'REGISTER' | translate}}
			</li>
			<li class="panelinformation-search flex-item">
				<ul class="horizontal">
					<li>
						<input type="text" class="panelinformation-search__input" ng-model="search" reg-ex-input reg-ex="^[a-zA-Z0-9-:.]+$"/>
					</li>
					<li>
						<div class="panelinformation-search-button">
							<i class="fa fa-search panelinformation-search-button__icon" aria-hidden="true"></i>
						</div>
					</li>
				</ul>
			</li>
			<li class="panelinformation-pagination flex-item">
				<ul class="horizontal">
					<dir-pagination-controls boundary-links="true" max-size="6"	direction-links="true"></dir-pagination-controls>
				</ul>
			</li>
		</ul>
	</div>
	<div class="panelinformation-table stable stable_grey" ng-show="$ctrl.files.length >0">
		<table class="files-table">
			<thead>
				<tr>
					<td ng-click="$ctrl.sort('id')">{{'FILE_ID'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='id'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
		      </td>
					<td ng-click="$ctrl.sort('nombreOriginal')">{{'FILENAME'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='nombreOriginal'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
					<td ng-click="$ctrl.sort('renombrado')">{{'FILE_RENAMED'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='renombrado'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
					<td ng-click="$ctrl.sort('cliente')">{{'CUSTOMER'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='cliente'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
					<td ng-click="$ctrl.sort('formato')">{{'FORMAT'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='formato'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
					<td ng-click="$ctrl.sort('tipo')">{{'TYPE'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='tipo'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
					<td ng-click="$ctrl.sort('estado')">{{'STATUS'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='estado| translate'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
					<td ng-click="$ctrl.sort('fecha')">{{'DATE'|translate}}
						<span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='fecha'"
							ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="file in $ctrl.files | orderBy:$ctrl.sortKey:$ctrl.reverse | filter:search |  itemsPerPage: $ctrl.opt.value">
					<td>{{file.id}}</td>
					<td>{{file.nombreOriginal}}</td>
					<td>{{file.renombrado}}</a></td>
					<td>{{file.cliente}}</td>
					<td>{{file.formato}}</td>
					<td>{{file.tipo | translate}}</td>
					<td ng-class="{'colorRed': file.estado.indexOf('KO') !== -1}">{{file.estado | translate}}</td>
					<td>{{file.fecha}}</td>
				</tr>
		</tbody>
	</table>
</div>
</div>
<div class="alert alert-info" ng-show="$ctrl.files.length==0" ng-if="!$ctrl.waiting">
	<div ng-show="!$ctrl.searched">
		<center><strong>Info: </strong>{{'SEARCH_INI'|translate}}</center>
	</div>
	<div ng-show="$ctrl.searched">
		<center><strong>Info: </strong>{{'SEARCH_NO_RESULTS'|translate}}</center>
	</div>
</div>
<div
	ng-if="$ctrl.notification.show"
	uib-alert ng-class="'notification notification_'+ $ctrl.notification.type"
	close="$ctrl.hideAlert()"
	dismiss-on-timeout="{{$ctrl.notification.time}}">
		{{$ctrl.notification.message|translate}}
</div>
